<?xml version="1.0" encoding="utf-8"?>
<HemoScope name="Capillaries measurement automation">
	<Input>
	</Input>
	<Output>
	</Output>
	<Procedures>
		<Stitching description="Stitch images by layers according to scan positions">
			<ScanPosFile>Scan_positions.csv</ScanPosFile>
			<MarkerCornerSize>21</MarkerCornerSize>
			<Image description="Parametets of each stitched image">
				<BiasPixels>
					<X>70</X>
					<Y>0</Y>
				</BiasPixels>
				<MarginRelative>
					<X>0.2</X>
					<Y>0.0</Y>
				</MarginRelative>
				<FrameRelative>
					<Width>0.5</Width>
					<Height>1.0</Height>
				</FrameRelative>
			</Image>
		</Stitching>
		<Identification>
		</Identification>
		<Characterization>
		</Characterization>
		<Focusing>
		</Focusing>
	</Procedures>
</HemoScope>
