<?xml version="1.0" encoding="utf-8"?>
<HemoScope name="Capillaries measurement automation">
	<General>
		<PixelsInMm>2600</PixelsInMm>
	</General>
	<Input>
		<Map>
			<Folder>../../../XYZ</Folder>
			<DataFolder>17</DataFolder>
			<Subfolder></Subfolder>
		</Map>
		<Lock>
			<Folder>../../../Z_locking</Folder>
			<DataFolder>ThroughFocus_C11_2</DataFolder>
			<Subfolder></Subfolder>
		</Lock>
	</Input>
	<Output>
		<Folder>../../../Output</Folder>
	</Output>
	<Procedures>
		<Stitching description="Stitch images by layers according to scan positions">
			<ScanPosFile>Scan_positions.csv</ScanPosFile>
			<MarkerCornerSize>21</MarkerCornerSize>
			<Image description="Parametets of each stitched image">
				<BiasPixels>
					<X>70</X>
					<Y>0</Y>
				</BiasPixels>
				<MarginRelative>
					<X>0.2</X>
					<Y>0.0</Y>
				</MarginRelative>
				<FrameRelative>
					<Width>0.5</Width>
					<Height>1.0</Height>
				</FrameRelative>
			</Image>
		</Stitching>
		<Identification description="Detect corners on Sobel gradient of map">
			<CroppedRows>400</CroppedRows>
			<GrayLevelOriginal>
				<Min>30</Min>
				<Max>90</Max>
			</GrayLevelOriginal>
			<GradientThreshold>35</GradientThreshold>
			<MinDistancePixels>200</MinDistancePixels>
			<MinFoundCapillaries>3</MinFoundCapillaries>
		</Identification>
		<Characterization description="Find rectangle inscribed in a capillary">
			<FineSmoothingKernelSize>5</FineSmoothingKernelSize>
			<DeepSmoothingKernelSize>51</DeepSmoothingKernelSize>
			<GrayLevelProcessed>
				<Min>0</Min>
				<Max>120</Max>
			</GrayLevelProcessed>
			<NumDescribedCappilaries>10</NumDescribedCappilaries>
			<MinPixelsInCappilary>20</MinPixelsInCappilary>
			<SurroundingPixels>10</SurroundingPixels>
		</Characterization>
		<Focusing description="Lock Z position to keep focusing on selected capillary">
			<ZPosFile>TF_vec_col.csv</ZPosFile>
			<Method description="Select one of: Mode, Variance, Spectrum">Mode</Method>
			<Mode>
				<ImagePartCenter>3</ImagePartCenter>
			</Mode>
			<Variance>
				<ImagePartCenter>3</ImagePartCenter>
			</Variance>
			<Spectrum>
				<SizeFFT>512</SizeFFT>
				<SizeEnergy>25</SizeEnergy>
				<Normalization>15.0</Normalization>
			</Spectrum>
		</Focusing>
	</Procedures>
</HemoScope>
